/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require animate
 */

#player_one, #player_two, #player_three {
  border-radius: 10%;
  background-color: #3498db;
  width: 100px;
  height: 100px;
  display: inline-block;
}

.answer {
  background-color: blue;
  height: 30px;
  width: 100px;
  margin: 20px;
}

.highlight {
  border: 5px solid yellow;
}

button{
  color:black;
  font-weight: bold;
  background-color: #3498db;
  border:1px solid;
  border-radius: 5px;
  border-color:#34495e;
  width:120px;
  padding: 8px 10px 10px 10px;
  box-shadow: 5px 5px 5px #34495e;
  font-family: 'Finger Paint', cursive;
}

#game-title {
  padding: center;
  font-size: 40px;
}

#biggest-div {
  margin: auto;
  width: 500px;
  border: solid;
  background-color: #95a5a6;
  height: 600px;
  border-radius: 10px;
  margin-top: 50px;
  text-align: center;
}


body {
  background-image: url(/assets/hash.png);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'Finger Paint', cursive;
  color: #34495e;
}
